@import '../../styles/colors';
@import '../../styles/icons';

.cp-icon {
    @include icons;

    display: block;
    width: 28px;
    height: 28px;
    min-width: 28px;
    min-height: 28px;
    background-color: $cp-black;
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;

    &--success {
        background-color: $cp-success;
    }

    &--warning {
        background-color: $cp-warning;
    }

    &--danger {
        background-color: $cp-danger;
    }

    &--white {
        background-color: $cp-white;
    }

    &--blue-dark {
        background-color: $cp-blue-dark;
    }
}