@mixin icons {
    &--edit {
        mask-image: url(../../resources/icons/edit.svg);
    }

    &--delete {
        mask-image: url(../../resources/icons/delete.svg);
    }

    &--close {
        mask-image: url(../../resources/icons/close.svg);
    }

    &--add {
        transform: rotate(45deg);
        mask-image: url(../../resources/icons/close.svg);
    }

    &--home {
        mask-image: url(../../resources/icons/home.svg);
    }

    &--logout {
        mask-image: url(../../resources/icons/logout.svg);
    }

    &--clipboard {
        mask-image: url(../../resources/icons/clipboard.svg);
    }

    &--settings {
        mask-image: url(../../resources/icons/settings.svg);
    }

    &--success {
        mask-image: url(../../resources/icons/success.svg);
    }

    &--warning {
        mask-image: url(../../resources/icons/warning.svg);
    }

    &--danger {
        mask-image: url(../../resources/icons/danger.svg);
    }

    &--sad {
        mask-image: url(../../resources/icons/sad.svg);
    }

    &--empty {
        mask-image: url(../../resources/icons/empty.svg);
    }
}