@import '../../styles/colors';
@import '../../styles/fonts';

@keyframes jump {
    0% { transform: translateY(0%) }
    30% { transform: translateY(-25%) }
    60% { transform: translateY(5%) }
    100% { transform: translateY(0%) }
}

.cp-button {
    @include font-semibold;

    background-color: $cp-white;
    color: $cp-black;
    border-color: $cp-black !important; 
    border-style: solid !important;
    border-width: 1px !important;
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
    font-family: inherit;
    line-height: 0;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    transition-property: background-color, transform, box-shadow;
    transition-duration: 200ms;

    &--danger {
        color: $cp-danger;
        border-color: $cp-danger !important;
    }

    &--success {
        color: $cp-success;
        border-color: $cp-success !important;
    }

    &--square {
        width: 30px;
        padding: 0;
    }

    &:focus {
        outline-color: transparent;
        outline-style:solid;
        box-shadow: 0 0 0 2px $cp-black-light;
    }

    &:hover:enabled {
        background-color: $cp-black-ultra-light;
    }

    &:active:enabled {
        transform: scale(0.99);
        background-color: $cp-black-light;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &-loader {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-inline: 2px;
        border-radius: 100%;
        background-color: $cp-black;
        animation: jump 1s ease infinite;
        vertical-align: middle;

        &--danger {
            background-color: $cp-danger;
        }

        &--success {
            background-color: $cp-success;
        }

        &:nth-child(2) {
            animation-delay: 0.1s;
        }
        &:nth-child(3) {
            animation-delay: 0.2s;
        }
    }
}
