@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.cp-input-group {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    padding-inline: 5px;
    padding-block: 15px;
    border-block: solid 2px $cp-blue-dark;

    &__label {
        display: flex;
        align-items: center;
        gap: 20px;

        h3{
            @include font-semibold;
            color: $cp-black;
            margin: 0;
        }
    }
}