.cp-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-grow: 1;
    padding-inline: 50px;
    padding-block-end: 50px;
    justify-content: space-between;

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__buttons {
        display: flex;
        gap: 20px;
    }
}